<h4>MAPA</h4>

<table class="table table-striped table-hover">
<thead>
    <tr>
        <th>Número</th>
        <th>Estação</th>
        <th>Situação</th>
        <th>Bicicleta Disponíveis</th>
        <th>Baias Disponíveis</th>
    </tr>
</thead>
<tbody>
    <tr *ngIf="stations.length == 0">
        <td colspan="4" align="center">Nenhum registro encontrado.</td>
    </tr>
    <tr *ngFor="let station of stations">
        <td>{{ station.stationNumber }}</td>
        <td>{{ station.name }}</td>
        <td>{{ station.status }}</td>
        <td>{{ station.availableSlotsSize }}</td>
        <td>{{ station.unavailableSlotsSize }}</td>
    </tr>
</tbody>
</table>